/* reset css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 13px;
    border: 1px;
    width: 100%;
    table-layout: fixed;
}

/* reset css end */

body {
    background: lightgray;
    //text-align: center;
    font-family: "Times New Roman", Times, serif;
    /*margin-left: 1px;
    margin-right: 1px;*/
}

fieldset {
    display: inline-block;
    border: 1px #af3333 solid;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

svg {
    background: white;
    border: 0px;
}

div.tooltip.a {
    position: absolute;
    text-align: left;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}

div.tooltip.b {
    position: absolute;
    text-align: left;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}

div.tooltip.c {
    position: absolute;
}

th,
td {
    text-align: left;
    font: 15px sans-serif;
}

/* Style the tab */

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */

div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */

div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */

.tabcontent {
    padding: 6px 12px;
    // border: 1px solid #ccc;
    border-top: none;
}

.tabcontent input {
    width: 130px;
    height: 25px;
}

.tabcontent .date {
    width: 200px;
}

/* Style the close button */

.topright {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.topright:hover {
    color: red;
}

#para {
    display: inline-block;
}

#csv {
    display: inline-block;
}

#select {
    text-align: left;
}

#detail {
    text-align: left;
}

.selective {
    fill: black;
    stroke: white;
}

.selectext {
    fill: white;
}

rect:hover {
    fill-opacity: 0.8;
    stroke: black;
}

path:hover {
    fill-opacity: 0.8;
    stroke: black;
}

/* grid setting */

.grid {
    margin: 0 0 0 0;
    // border: 2px solid #CCC;
    height: 95vh;
    display: grid;
    grid-gap: 1px;
    grid-template-rows: [grow1] 100px [grow2] minmax(1px, 90vh) [growend];
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-size: 100%;
}

.menu {
    padding: 5px;
    width: 100%;
    // grid-row: grow1 / grow2;
}

.grid1 {
    margin: 0 0 0 0;
    // border: 2px solid #CCC;
    display: grid;
    grid-gap: 1px;
    grid-row: grow2 / growend;
    grid-template-columns: [col1] 0.6fr [col2] 0.4fr [colend];
}

.userview {
    overflow-y: auto;
    grid-column: col2 / colend;
}

.grid2 {
    background-color: lightgray;
    margin: 0 0 0 0;
    display: grid;
    grid-gap: 1px;
    grid-column: col1 / col2;
    // grid-template-columns: [scol1] 0.333fr [scol2] 0.333fr [scol3] 0.333fr [scolend];
    // grid-template-rows: [srow1] minmax(auto, 50vh) [srow2] minmax(30vh, 40vh) [srowend];
}

.overview {
    overflow-y: scroll;
    grid-column: scol1 / scol2;
    grid-row: srow1 / srow2;
}

.postview {
    grid-column: scol2 / scol3;
    grid-row: srow1 / srow2;
}

.gateKeeperview {
    grid-column: scol1 / scol3;
    grid-row: srow1 / srow2;
}

.termview {
    overflow-y: scroll;
    grid-column: scol3 / scolend;
    grid-row: srow1 / srow2;
}

.graph {
    grid-column: col1 / colend;
    grid-row: grow2 / growend;
    display: grid;
    grid-template-columns: [sscol1] 0.0fr [sscol2] 0.0fr [sscol3] 30fr [sscol4] 1fr [sscol5] 69fr [sscolend];
    grid-template-rows: [ssrow1] auto [ssrow2] 10px [ssrow3] 0.2fr [ssrowend];
}

.barchart {
    display: grid;
    grid-column: sscol1 / sscol2;
    grid-row: ssrow1 / ssrow2;
}

.network {
    border: 2px solid gray;
    display: grid;
    grid-column: sscol3 / sscol4;
    grid-row: ssrow1 / ssrow2;
    grid-template-columns: [nwcol1] 8fr [nwcol2] 2fr [nwcolend];
    grid-template-rows: [nwrow1] 0px [nwrow2] 400px [nwrow3] 300px [nwrowend];
}  

.filterBar {
    // border: 2px solid gray;
    // display: grid;
    // grid-column: sscol3 / sscol4;
    grid-row: nwrow1 / nwrow2;
}

.termMap {
    // border: 2px solid gray;
    display: grid;
    grid-column: nwcol1 / nwcol2;
    grid-row: nwrow2 / nwrow3;
    // grid-template-rows: [nwrow1] 0.1fr [nwrow2] 0.9fr [nwrowend];
}

.authorList {
    border-top: 2px solid gray;
    display: grid;
    grid-column: nwcol1 / nwcolend;
    grid-row: nwrow3 / nwrowend;
    // grid-template-rows: [nwrow1] 0.1fr [nwrow2] 0.9fr [nwrowend];
}

.opinionLeaderView {
    border: 2px solid gray;
    display: grid;
    grid-column: sscol5 / sscolend;
    grid-row: ssrow1 / ssrow2;
    grid-template-rows: [acrow1] 0.9fr [acrow2] 0.1fr [acrowend];
    grid-template-columns: [accol1] 4fr [accol2] 1fr [accol3] 5fr [accolend];
}

.heatMap {
    display: grid;
    grid-column: accol1 / accolend;
    grid-row: acrow1 / acrowend;
}

// .commentTimeline {
//     display: grid;
//     border-top: 2px solid gray;
//     grid-column: accol1 / accolend;
//     grid-row: acrowend / acrowend;
// }

.selectedUserTable {
    display: grid;
    // border-top: 2px solid gray;
    grid-column: nwcol2 / nwcolend;
    grid-row: nwrow2 / nwrow3;
}

// .wordTree {
//     display: grid;
//     grid-column: accol3 / accolend;
//     grid-row: acrow1 / acrow2;
// }

// .heatMap {
//     display: grid;
//     grid-column: sscol1 / sscolend;
//     grid-row:ssrow3 / ssrowend;
// }

.detailview {
    overflow-y: scroll;
    color: #444;
    background-color: white;
    border: 5px solid #444;
    grid-column: scol1 / scolend;
    grid-row: srow2 / srowend;
}

.detailview p {
    padding: 5px;
}

.dvicon {
    width: 16px;
    height: 16px;
}

.query,
.summary {
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid;
}

tr,
th,
td {
    margin: 1px;
    // border: 1px grey solid;
    padding: 5px;
}

#overlap{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

canvas {
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

/*****************************************************/

/*next and previous botton*/

.pagination .detail {
    text-decoration: none;
    display: inline-block;
    padding: 4px 8px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}

/*****************************************************/
textarea {
  padding: 10px 8px;
  border: 1px solid rgba(39,41,43,.15);
  border-radius: 4px;
  font-size: 15px;
  width: 100%;
  height: 100%;
}

label {
    margin-right: 10px;
}
/*****************************************************/

/*accordion*/

button.accordion,
button.subaccordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active,
button.accordion:hover,
button.subaccordion.active,
button.subaccordion:hover {
    background-color: #ccc;
}

button.accordion:after,
button.subaccordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after,
button.subaccordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#pageA {
    display: inline-block;
    float: left;
    border: 1px solid #ccc;
    width: 50%;
}

#pageB {
    display: inline-block;
    float: left;
    border: 1px solid #ccc;
    width: 50%;
}

.foreignObject {
    font: 9px sans-serif;
    text-overflow: ellipsis;
    text-align: left;
    word-wrap: break-word;
}

.highlight {
    background-color: #000;
}

.author {
    color: red;
}
